.col{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-text-center{
width: 100%;
overflow: hidden;
text-align: center;
padding: 20px 20px 0px 20px;
background-color: rgb(255, 255, 255);
}

.navbar-expand-lg bg-body-tertiary{


  background-color: aqua;  

    padding: 0;
  margin: 0;
}

.navbar-brand{

    padding-left: 30px;
    font-weight: 900;
}
.containerfluid{

    background-color: rgb(236, 236, 245);
    padding: 5px 0px 5px 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

}

.container{
    padding : 5px 20px 0px 20px;
    
}

.container h3{
    padding-top: 20px;
    font-size: 14px
 
}
.container h1{
    padding-bottom: 20px;
    font-weight: 800;

 
}